.header {
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  background-color: rgb(72, 83, 85);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 5vw;
  padding-bottom: 15px;
  box-shadow: 0px 1px 5px black;
  color: rgb(239, 206, 146);
}

.searchbox {
  display: flex;
  justify-content: center;
}

@media (max-width: 1000px) {
  .header {
    padding-top: 15px;
    font-size: 6.4vw;
  }
}
