.main {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
}
/* .main :hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
  transition: 1s;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 25px;
} */
* {
  background-image: linear-gradient(rgba 255, 232, 123, 0.4);
}
